/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.header-title {
  margin-bottom: 10px;
}

.nav-list {
  list-style-type: none;
}

.nav-item {
  display: inline;
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.main {
  padding: 20px;
}

.section {
  margin-bottom: 40px;
}

.section-title {
  margin-bottom: 20px;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px; /* Flexbox shorthand for flex-grow, flex-shrink, and flex-basis */
}

.portfolio-img {
  width: 100%;
  border-radius: 5px;
}

.contact-form {
  max-width: 500px;
  /* margin: 0 auto; */
}

.contact-label {
  display: block;
  margin-bottom: 5px;
}

.contact-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-input textarea {
  resize: vertical;
}

.contact-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #555;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
